{% extends 'layouts/base.html' %}
{% load static %}
{% block content%}

<section class="hero-wrap hero-wrap-2">
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 text-center ftco-animate pt-5">
<h1 class="mb-3 bread">Our Blog</h1>
<p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="fa fa-chevron-right"></i></a></span> <span>Blog Details<i class="fa fa-chevron-right"></i></span></p>
</div>
</div>
</div>
</section>
<section class="ftco-section">
<div class="container-fluid px-md-4">
<div class="row no-gutters">
<div class="col-md-12 blog-wrap">
<div class="row no-gutters align-items-center">
<div class="col-md-6 img img-blog js-fullheight" style="background-image: url(images/image_1.jpg);">
</div>
<div class="col-md-6">
<div class="text p-md-5 py-5 px-4 ftco-animate">
<p class="meta">
<a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 27, 2020</a>
<a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
<a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
</p>
<h2 class="mb-4"><a href="blog-single.html">Turning a digital brand into a real world experience</a></h2>
<div class="icon d-flex align-items-center">
<div class="img" style="background-image: url(images/person_1.jpg);"></div>
<div class="position pl-3">
<h4 class="mb-0">Jamie Jonson</h4>
<span>CEO, Product Designer</span>
</div>
</div>
</div>
</div>
</div>
<div class="row justify-content-center pt-4 py-md-5">
<div class="col-md-7">
<div class="py-4">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
<p><strong>On her way she met a copy.</strong> The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
</div>
<div class="py-4">
<h3>How It Works</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
<p><strong>On her way she met a copy.</strong> The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
</div>
<div class="tag-widget post-tag-container mb-5 mt-5">
<div class="tagcloud">
<a href="#" class="tag-cloud-link">Life</a>
<a href="#" class="tag-cloud-link">Sport</a>
<a href="#" class="tag-cloud-link">Tech</a>
<a href="#" class="tag-cloud-link">Work</a>
</div>
</div>
<div class="comment-post py-5">
<h3 class="mb-5">6 Comments</h3>
<ul class="comment-list">
<li class="comment">
<div class="vcard bio">
<img src="images/person_1.jpg" alt="Image placeholder">
</div>
<div class="comment-body">
<h3>John Doe</h3>
<div class="meta">September 28, 2020 at 3:03pm</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
<p><a href="#" class="reply">Reply</a></p>
</div>
</li>
<li class="comment">
<div class="vcard bio">
<img src="images/person_1.jpg" alt="Image placeholder">
</div>
<div class="comment-body">
<h3>John Doe</h3>
<div class="meta">September 28, 2020 at 3:03pm</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
<p><a href="#" class="reply">Reply</a></p>
</div>
<ul class="children">
<li class="comment">
<div class="vcard bio">
<img src="images/person_1.jpg" alt="Image placeholder">
</div>
<div class="comment-body">
<h3>John Doe</h3>
<div class="meta">September 28, 2020 at 3:03pm</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
<p><a href="#" class="reply">Reply</a></p>
</div>
<ul class="children">
<li class="comment">
<div class="vcard bio">
<img src="images/person_1.jpg" alt="Image placeholder">
</div>
<div class="comment-body">
<h3>John Doe</h3>
<div class="meta">September 28, 2020 at 3:03pm</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
<p><a href="#" class="reply">Reply</a></p>
</div>
</li>
</ul>
</li>
</ul>
</li>
<li class="comment">
<div class="vcard bio">
<img src="images/person_1.jpg" alt="Image placeholder">
</div>
<div class="comment-body">
<h3>John Doe</h3>
<div class="meta">September 28, 2020 at 3:03pm</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
<p><a href="#" class="reply">Reply</a></p>
</div>
</li>
</ul>

</div>
<div class="comment-form-wrap pt-5">
<h3 class="mb-5">Leave a comment</h3>
<form action="#" class="p-5 comment-form">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label for="name">Name *</label>
<input type="text" class="form-control" id="name">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label for="email">Email *</label>
<input type="email" class="form-control" id="email">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label for="website">Website</label>
<input type="url" class="form-control" id="website">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label for="message">Message</label>
<textarea name id="message" cols="30" rows="10" class="form-control"></textarea>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="ftco-intro ftco-section bg-light">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 text-center">
<h2>Subscribe to our Newsletter</h2>
<div class="row justify-content-center">
<div class="col-md-5">
<form action="#" class="subscribe-form">
<div class="form-group d-flex">
<input type="text" class="form-control" placeholder="Enter email address">
<input type="submit" value="Subscribe" class="submit px-3">
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}